@using Microsoft.AspNetCore.Http;
@using WebTuDienKHoChuru.Utils;
@using WebTuDienKHoChuru.Models.User;

<!DOCTYPE html>
<html lang="vi">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="icon" type="image/png" href="~/favicon.ico">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
	<link rel="stylesheet" type="text/css" href="~/lib/fontawesome/css/all.min.css" />
	@await RenderSectionAsync("Styles", required: false)
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@Constants.Title</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark @Html.IsSelected(actions: "Index", controllers: "Home")" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
						</li>
						@{
							string role = Context.Session.GetString(Constants.ROLE);
							if (!string.IsNullOrWhiteSpace(role))
							{
								<li class="nav-item">
									<a class="nav-link text-dark @Html.IsSelected(actions: "Manage", controllers: "Dictionary")" asp-area="" asp-controller="Dictionary" asp-action="Manage">Quản lý từ điển</a>
								</li>
							}
							if (role == Role.Collaborator)
							{
								<li class="nav-item">
									<a class="nav-link text-dark @Html.IsSelected(actions: "Index", controllers: "Collaborator")" asp-area="" asp-controller="Collaborator" asp-action="Index">Trang người đóng góp</a>
								</li>
							}
							else if (role == Role.Admin)
							{
								<li class="nav-item">
									<a class="nav-link text-dark @Html.IsSelected(actions: "Index", controllers: "Admin")" asp-area="" asp-controller="Admin" asp-action="Index">Trang quản trị viên</a>
								</li>
							}
						}
						<li class="nav-item">
							<a class="nav-link text-dark @Html.IsSelected(actions: "Index", controllers: "Dictionary")" asp-area="" asp-controller="Dictionary" asp-action="Index">Từ điển</a>
						</li>
					</ul>
					<div class="d-inline my-2 my-lg-0">
						@{
							string fullname = @Context.Session.GetString(Constants.FULLNAME);
							if (fullname == null && !Html.IsThisPage(controllers: "Login", actions: "Index"))
							{
								<a class="my-2 my-sm-0 btn btn-outline-primary" asp-area="" asp-controller="Login" asp-action="Index">
									<i class="fas fa-sign-in-alt"></i>
									Đăng nhập
								</a>
							}
							else if (fullname != null)
							{
								<div class="dropdown">
									<button class="mr-sm-4 btn dropdown-toggle" type="button" id="dropdownLoginButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Xin chào @fullname
									</button>
									<div class="dropdown-menu" aria-labelledby="dropdownLoginButton">
										<a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="ChangePassword">
											<i class="fas fa-key"></i>
											Đổi mật khẩu
										</a>
										<a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="ChangeInfo">
											<i class="fas fa-user-edit"></i>
											Cập nhật thông tin
										</a>
										<a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="Logout">
											<i class="fas fa-sign-out-alt"></i>
											Đăng xuất
										</a>
									</div>
								</div>
							}
						}
					</div>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="footer border-top text-center text-lg-start bg-light text-muted">
		<div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05);">
			<p>&copy; 2021 - Bản quyền thuộc về Khoa Công nghệ Thông tin, Trường Đại học Đà Lạt</p>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
