@using WebTuDienKHoChuru.Utils
@using WebTuDienKHoChuru.Models.DataAccess
@{
	ViewData["Title"] = "Quản lý song ngữ";
	string sourceLabel, destinationLabel;
	switch (ViewBag.SelectedDictTypeID)
	{
		case 1:
			sourceLabel = "Đoạn văn trong tiếng K'Ho";
			destinationLabel = "Đoạn văn trong tiếng Việt";
			break;
		case 2:
			sourceLabel = "Đoạn văn trong tiếng Việt";
			destinationLabel = "Đoạn văn trong tiếng K'Ho";
			break;
		case 3:
			sourceLabel = "Đoạn văn trong tiếng Churu";
			destinationLabel = "Đoạn văn trong tiếng Việt";
			break;
		case 4:
			sourceLabel = "Đoạn văn trong tiếng Việt";
			destinationLabel = "Đoạn văn trong tiếng Churu";
			break;
		default:
			sourceLabel = "Đoạn văn";
			destinationLabel = "Đoạn văn";
			break;
	}
}

<div class="text-center">
	<h5>@Constants.ListPassages</h5>
</div>
<!--DANH SÁCH LOẠI TỪ ĐIỂN-->
<div class="form-group">
	<label for="selectDictType">Chọn từ điển từ danh sách dưới đây</label>
	<select class="form-control" aria-label="Dictionary types" id="selectDictType">
		@foreach (DICT_TYPE item in ViewBag.DictTypes)
		{
			if (item.DictType == ViewBag.SelectedDictTypeID)
			{
				<option value="@item.DictType" selected>@item.Description</option>
			}
			else
			{
				<option value="@item.DictType">@item.Description</option>
			}
		}
	</select>
</div>
<!--SỐ TRANG-->
<div class="form-inline justify-content-center">
	<div class="form-group mb-2">
		Trang:
	</div>
	<div class="form-group mx-sm-3 mb-2">
		<input type="number" class="form-control" value="@ViewBag.SelectedPage" id="inputPageNumber" min="1" max="@ViewBag.PageNumbers">
	</div>
	tổng số @ViewBag.PageNumbers trang
</div>
<!--BẢNG ĐOẠN VĂN-->
<div class="tableFixHead">
	<table class="table table-hover table-bordered table-hover" data-resizable="true">
		<thead class="text-center">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Thể loại</th>
				<th scope="col">@sourceLabel</th>
				<th scope="col">@destinationLabel</th>
				<th scope="col">Hành động</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row" id="ID" class="text-center">NaN</th>
				<td>
					<select class="form-control" name="PassageType">
						@foreach (PASSAGE_TYPE item in ViewBag.PassageTypes)
						{
							if (item.PassageType == "KHAC")
							{
								<option value="@item.PassageType" selected>@item.Description</option>
							}
							else
							{
								<option value="@item.PassageType">@item.Description</option>
							}
						}
					</select>
				</td>
				<td>
					<textarea class="form-control" rows="5" placeholder="Nhập đoạn văn" name="Source"></textarea>
				</td>
				<td>
					<textarea class="form-control" rows="5" placeholder="Nhập đoạn văn" name="Destination"></textarea>
				</td>
				<td class="text-center">
					<button onclick="insertPassage();" class="btn btn-outline-success btn-md" id="btnInsert" 
							data-tooltip="tooltip" data-placement="bottom" title="Thêm đoạn văn vừa nhập" data-delay='{"show":"500", "hide":"100"}'>
						<i class="fas fa-file-upload"></i>
					</button>
					<button onclick="insertPassage();" class="btn btn-outline-success btn-md" id="btnSave" style="display: none;" 
							data-tooltip="tooltip" data-placement="bottom" title="Cập nhật đoạn văn" data-delay='{"show":"500", "hide":"100"}'>
						<i class="fas fa-save"></i>
					</button>
				</td>
			</tr>
			@foreach (BILINGUAL_PASSAGE passage in ViewBag.PassageList)
			{
				string ID = "ID" + passage.ID, sourceID = "source" + passage.ID, destinationID = "destination" + passage.ID;
				<tr>
					<th scope="row" id="@ID" class="text-center">@passage.ID</th>
					<td>
						@foreach (PASSAGE_TYPE type in ViewBag.PassageTypes)
						{
							if (type.PassageType == passage.PassageType)
							{
								<p>@type.Description</p>
							}
						}
					</td>
					<td>
						<p id="@sourceID">@passage.Source</p>
					</td>
					<td>
						<p id="@destinationID">@passage.Destination</p>
					</td>
					<td class="text-center">
						<div class="btn-group" role="group" aria-label="Action buttons">
							<button onclick="updatePassage(@passage.ID, '@passage.PassageType');" class="btn btn-outline-primary btn-md mr-2" 
									data-tooltip="tooltip" data-placement="bottom" title="Chỉnh sửa đoạn văn này" data-delay='{"show":"500", "hide":"100"}'>
								<i class="fas fa-edit"></i>
							</button>
							<button onclick="deletePassage(@passage.ID);" class="btn btn-outline-danger btn-md"
									data-tooltip="tooltip" data-placement="bottom" title="Xóa đoạn văn này" data-delay='{"show":"500", "hide":"100"}'>
								<i class="fas fa-trash"></i>
							</button>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

@section Scripts
{
	<script src="~/js/passage.js" type="text/javascript" asp-append-version="true"></script>
}
