@using WebTuDienKHoChuru.Utils
@model WebTuDienKHoChuru.Models.User.Account

@{
	ViewData["Title"] = "Cập nhật thông tin";
}

<div class="login-form">
	@using (Html.BeginForm("ChangeAccountInfo", "Login", FormMethod.Post))
	{
		<h6 class="text-sm-center">@Constants.Title</h6>
		<h4 class="text-center">Cập nhật thông tin</h4>
		<fieldset>
			@Html.AntiForgeryToken()
			@Html.ValidationSummary(true)
			<div style="color: red;" id="message" class="text-center">
				@ViewBag.Message
				@Html.ValidationMessageFor(x => x.Fullname)
				@Html.ValidationMessageFor(x => x.Username)
				@Html.ValidationMessageFor(x => x.Email)
				@Html.ValidationMessageFor(x => x.PhoneNumber)
				@Html.ValidationMessageFor(x => x.Address)
			</div>
			<div class="form-group">
				@Html.LabelFor(x => x.Fullname)
				@Html.TextBoxFor(x => x.Fullname, new
					{
						@class = "form-control",
						required = "required",
						value = Model.Fullname
					})
			</div>
			<div class="form-group">
				@Html.LabelFor(x => x.Username)
				@Html.TextBoxFor(x => x.Username, new
					{
						@class = "form-control",
						required = "required",
						value = Model.Username
					})
			</div>
			<div class="form-group">
				@Html.LabelFor(x => x.Email)
				@Html.TextBoxFor(x => x.Email, new
				{
					@class = "form-control",
					value = Model.Email
				})
			</div>
			<div class="form-group">
				@Html.LabelFor(x => x.PhoneNumber)
				@Html.TextBoxFor(x => x.PhoneNumber, new
				{
					@class = "form-control",
					value = Model.PhoneNumber
				})
			</div>
			<div class="form-group">
				@Html.LabelFor(x => x.Address)
				@Html.TextAreaFor(x => x.Address, new
				   {
					   @class = "form-control",
					   required = "required",
					   value = Model.Address
				   })
			</div>
			<div class="form-group">
				<input type="submit" value="Cập nhật thông tin" class="button" />
			</div>
		</fieldset>
	}
</div>

@section Styles{
	<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
}
@section Scripts{
	<script>
		setTimeout(function () {
			if ($('#message').length > 0) {
				$('#message').fadeOut(500, function () { $(this).remove(); });
			}
	</script>
}