@using WebTuDienKHoChuru.Utils
@using WebTuDienKHoChuru.Models
@model ChangePasswordFormModel

@{
	ViewData["Title"] = "Đổi mật khẩu";
}

<div class="login-form">
	@using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post))
	{
		<h6 class="text-sm-center">@Constants.Title</h6>
		<h4 class="text-center">Đổi mật khẩu</h4>
		<fieldset>
			@Html.AntiForgeryToken()
			@Html.ValidationSummary(true)
			<div style="color: red;" id="message" class="text-center">
				@ViewBag.Message
				@Html.ValidationMessageFor(x => x.OldPassword)
				@Html.ValidationMessageFor(x => x.NewPassword)
				@Html.ValidationMessageFor(x => x.ConfirmedPassword)
			</div>
			<div class="form-group">
				@Html.PasswordFor(x => x.OldPassword, new
				{
					@class = "form-control",
					placeholder = "Mật khẩu cũ",
					required = "required"
				})
			</div>
			<div class="form-group">
				@Html.PasswordFor(x => x.NewPassword, new
				{
					@class = "form-control",
					placeholder = "Mật khẩu mới",
					required = "required"
				})
			</div>
			<div class="form-group">
				@Html.PasswordFor(x => x.ConfirmedPassword, new
				{
					@class = "form-control",
					placeholder = "Mật khẩu xác nhận",
					required = "required"
				})
			</div>
			<div class="form-group">
				<input type="submit" value="Đổi mật khẩu" class="button" />
			</div>
		</fieldset>
	}
</div>

@section Styles{
	<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
}
@section Scripts{
	<script>
		setTimeout(function () {
			if ($('#message').length > 0) {
				$('#message').fadeOut(500, function () { $(this).remove(); });
			}
		}, 3000)
	</script>
}